* {
  margin: 0;
  font-family: "Gilroy-Medium", sans-serif;
}

a {
  cursor: pointer;
}

body {
  background-image: url(aurora.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Gilroy-Medium", sans-serif;
  padding: 20px 40px;
}

.nav-bar a {
  text-decoration: none;
  font-weight: 400;
}

/* Middle Nav Bar  */

.nav-bar li {
  list-style: none;
  padding: 0px 20px;
}

.nav-bar li a {
  color: #141414;
}

.nav-links {
  display: flex;
  padding: 0;
}

.nav-bar li a span {
  color: #005ae2;
}

.features {
  display: flex;
  gap: 2px;
}

.features img {
  margin-top: -1px;
}

/* Left Nav Bar */

.log-on {
  display: flex;
  gap: 20px;
  align-items: center;
}

.log-on a {
  font-weight: 400;
  color: #141414;
}

#trial {
  color: white;
  background-color: #005ae2;
  padding: 10px 20px;
  border-radius: 20px;
}

/* Main */

main {
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  margin-top: 5%;
}

.hero {
  font-weight: 600;
  font-size: 4rem;
  line-height: 2;
}

.hero span {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: #005ae2;
}

.hero span img {
  margin-top: -20px;
}

.summary {
  padding: 30px 0px;
  padding-top: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
}

.sign-on {
  text-align: center;
  display: inline-flex;
  align-items: center;
  padding: 50px;
  gap: 50px;
}

#sign-up-btn {
  padding: 15px 50px;
  background-color: #005ae2;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border: 2px solid #005AE2;
}

#sign-up-btn:hover {
  background-color: white;
  color: #005AE2;
  border: 2px solid #005AE2;
}

.sign-on a {
  text-decoration: none;
  color: #005ae2;
  font-size: 1rem;
}

/* Section One and Two */

.section-1,
.section-2 {
  display: flex;
  justify-self: center;
}

.section-2 img {
  width: 100%;
}

/* Section 3 */

.section-3 {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 80px 200px;
  background-color: #f9fbfd;
}

.section-3 h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.section-3-left {
  font-weight: 600;
  font-size: 2.5rem;
}

.section-3-left span {
  color: #005ae2;
}

.benefits-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0px;
  line-height: 1.5;
}

.benefits-list li {
  padding: 0px 40px;
}

/* Section Four */

/* Section Four Left */

.section-4-left {
  line-height: 2;
}

.section-4-left p {
  padding-right: 100px;
}

.section-4-left span {
  color: #005ae2;
}

.section-4 {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 100px 200px;
  gap: 20px;
}

.section-4 h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

.line-head {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.line-head img {
  margin-left: -15px;
}

/* Section 4 Right */

.section-4-right {
  display: grid;
  row-gap: 50px;
}

.section-4-right h3 {
  margin: 15px 0px;
  font-size: 1.5rem;
}

.section-4-right img {
  margin-bottom: 10px;
}

.section-4-right p {
  padding-right: 50px;
  font-size: 1rem;
  line-height: 1.5;
}

.reasons-top {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0px 50px 25px 50px;
  gap: 50px;
}

.reasons-bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0px 50px 25px 50px;
  gap: 50px;
}

/* Section Five */

.section-5 {
  display: grid;
}

.section-5-top {
  display: grid;
  justify-content: center;
  padding: 50px 0px;
}

.section-5-top h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

.section-5-top h2 span {
  color: #005ae2;
}

.section-5-top p {
  text-align: center;
  line-height: 1.5;
}

.line-head-2 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.line-head-2 img {
  margin-left: -15px;
}

/* Plans Table */

.section-5-mid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding: 100px 0px;
}

.section-5-mid ul {
  list-style: none;
}

/* Basic Plan */

.plan-left {
  padding: 50px 50px 0px 70px;
  border-left: 1px solid #005ae2;
  border-top: 1px solid #005ae2;
  border-bottom: 1px solid #005ae2;
  border-right: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.price span {
  margin: 10px 0px;
  font-size: 24px;
}

.price p {
  margin: 10px 0px;
  font-size: 20px;
}

.price h1 {
  margin-top: 30px;
  font-size: 40px;
}

.price ul li {
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin: 30px 0px;
}

/* Professional Plan */

#plan-middle span {
  margin: 10px 0px;
  font-size: 24px;
}

#plan-middle p {
  margin: 20px 0px;
  font-size: 20px;
}

#plan-middle h1 {
  margin-top: 30px;
  font-size: 40px;
}

#plan-middle ul {
  padding: 0px;
  margin-top: 25px;
}

#plan-middle ul li {
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin: 30px 0px;
}

.price ul {
  padding: 0px;
  margin-top: 25px;
}

#plan-middle {
  margin: -70px 0px;
  padding: 100px 150px 70px 70px;
  background-color: #1e3448;
  border-radius: 10px;
  color: white;
}

/* Teams Plan */

.plan-right {
  padding: 50px;
  border-left: 0px;
  border-top: 1px solid #005ae2;
  border-bottom: 1px solid #005ae2;
  border-right: 1px solid #005ae2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Pricing Buttons */
.pricing-btn {
  display: flex;
  gap: 20px;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.custom-pricing-btn {
  padding: 15px 50px;
  background-color: #005ae2;
  border: 2px solid #005ae2;
  border-radius: 25px;
  color: white;
  text-decoration: none; 
  cursor: pointer;
}

.custom-pricing-btn:hover {
  padding: 15px 50px;
  border: 2px solid #005ae2;
  border-radius: 25px;
  color: #005ae2;
  text-decoration: none;  
  background-color: white;
  cursor: pointer;
}


.select-pricing-btn {
  padding: 15px 50px;
  background-color: #005ae2;
  border: 2px solid #005ae2;
  border-radius: 25px;
  color: white;
  text-decoration: none;  
  cursor: pointer;
}

.select-pricing-btn:hover {
  padding: 15px 50px;
  border: 2px solid #005ae2;  
  border-radius: 25px;
  color: #005ae2;
  text-decoration: none; 
  background-color: white;
  cursor: pointer;
}

/* Section Six */

.section-6 {
  display: flex;
  background-color: #1E3448;
  background-image: url(BG\ SECTION\ 6.png), url(BG\ SECTION\ 7.png);
  background-repeat: no-repeat;
  background-position: left, right;
  justify-content: center;
  padding: 80px 0px;

}

.domain {
  display: grid;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  gap: 20px;
}

.domain-name {
  display: grid;
  grid-template-columns: 55% 42%;
  gap: 10px;
  
}

#url,
#domains,
#alias {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #3284FF;
  color: #005AE2;
}

#url::placeholder {
  color: #3284FF;
}

#alias::placeholder {
  color:  #3284FF;
  
}

#url:active {
  border: 1px solid #005AE2;
}

#alias:active {
  border: 1px solid #005AE2;
}


.trim-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #005AE2;
  padding: 15px 20px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
}

.trim-btn:hover {
  background-color: #112232;
}

.domain p {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #4991FF;
  font-kerning: none;
}

/* Section Seven */

.section-7 {
  padding: 50px 0px;
  justify-items: center;
  background-color: white;
  background-image: url(section\ 7\ bg\ 1.png), url(section\ 7\ bg\ 2.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.faqs {
  display: flex;
  font-size: 2rem;
  gap: 15px;
}

.faq-list {
  margin: 50px 0px;
}

.faq-1 {
  padding: 20px 0px 15px 0px;
  border-bottom: 1px solid #D6D6D6;
}

.faq-q {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  font-weight: 300;
}

.faq-1 p {
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px 0px;
}

.faq-q-2 {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 20px 0px;
  font-weight: 300;
  line-height: 1.5;
}

/* Section Eight */

.section-8 {
  display: grid;
  background-color: #1e3448;
  padding: 80px 0px;
  text-align: center;
  color: white;
  justify-content: center;
  justify-items: center;
  background-image: url(section\ 8\ bg.png), url(section\ 8\ bg\ 2.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.section-8 h2 {
  font-size: 2.5rem;
  padding: 30px 0px;
}

.section-8 a {
  background-color: #005AE2;
  padding: 10px 50px;
  border-radius: 50px;
  width: fit-content;
  color: white;
  text-decoration: none;
  
}

.section-8 a:hover {
  background-color: white;
  color: #005AE2;
  
}

/* Footer */

footer {
  background-color: white;  
  padding-bottom: 50px;
  background-image: url(footer\ bg\ 1.png), url(footer\ bg\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
}

.footer-links {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  padding: 100px 0px 20px 0px;
  gap: 50px
}

.footer-links ul {
  padding: 0px;
}

.footer-links ul li {
  list-style: none;
  padding: 0px;
  padding: 5px 0px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #112232;
  cursor: pointer;  
}

.footer-links ul li a:hover {
  color: #005AE2;
}


/* Line 1 */
.line-1 {
  display: grid;
  align-content: start;
  gap: 30px;
}

.socials {
  display: flex;
  gap: 30px;
}


/* Line 2 */
.line-2 {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 0px 25px;
}

.line-2 p {
  padding-bottom: 10px;
}

.solutions {
  gap: 41px;
}
 

.foot-links {
display: flex;
 justify-content: end;
 padding-right: 100px;

}

.foot-links li {
  padding: 0px 10px;
  list-style: none;
  font-size: 0.8rem;
}

.foot-links a {
  text-decoration: none;
  color: #112232;
  cursor: pointer;
}

.foot-links a:hover {
  color: #005AE2;
}


.tos,
.security {
  border-right: 1px solid #112232;
}

/* Main Button */


button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #ff00a5; 
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;
  border: none;  
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button:hover {
  background-color: blueviolet;
}